@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  position: relative;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container {
  flex:1;
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-radius: 2px solid;
}

.contentContainer {
  height: 100%;
  padding: 5px 20px;
  width: 100%;
}
